body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--background-color);
    color: var(--text-color);
}

a {
    color: var(--link-color);
}

.content {
    min-height: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    padding: 4rem 1rem;
}

.header {
    text-align: left;
}

.mw-900 {
    max-width: 900px;
    width: 100%;
}

.ta-center {
    text-align: center;
}

.footer {
    margin-top: auto;
    padding: 1rem 0;
}