:root {
    --background-color: #fff;
    --text-color: #000000;
    --link-color: #2a4c88;
}

body[data-theme='light'] {
    --background-color: #fff;
    --text-color: #000000;
    --link-color: #2a4c88;
}

body[data-theme='dark'] {
    --background-color: #000000;
    --text-color: #ffffff;
    --link-color: #2a4c88;
}
